:root {
  --azul-claro: #9CC8FF;
  --azul-principal: #006AEA;
  --azul-oscuro: #162A98;
  --gris-claro: #D2D2D2;
  --gris-texto: #7C7B75;
}

/* HEADER */
.top-header {
  background-color: var(--gris-claro);
}

/* NAVBAR */
.custom-navbar {
  background-color: var(--azul-oscuro);
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* footer */
.footer-top {
  background-color: var(--gris-claro);
}

.footer-bottom {
  background-color: var(--gris-texto);
  color: white;
}

.footer-bottom small {
  font-size: 14px;
}

.footer-logo {
  max-width: 120px;
  opacity: 0.8;
  cursor: pointer;
  filter: grayscale(100%)contrast(2);
   transition: 0.3s;

}

.footer-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.footer-top img {
  height: 100px;
  object-fit: contain;
}

/*

.topbar{
    height: 65px;
    background-color: var(--azul);
    color: var(--blanco);
    position: relative;
    border-bottom: 7px solid var(--turquesa);
}

*/

