:root {
  --azul-claro: #9CC8FF;
  --azul-principal: #006AEA;
  --azul-oscuro: #162A98;
  --gris-claro: #D2D2D2;
  --gris-texto: #7C7B75;
}

/* FILTRO */
.filtro-box {
  background-color: var(--gris-claro);
}

/* CARD */
.evento-card {
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.evento-card:hover {
  transform: scale(1.02);
}

/* FECHA */
.fecha-box {
  background-color: var(--azul-oscuro);
  color: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 70px;
}

/* FOOTER */
.footer {
  background-color: var(--gris-texto);
  color: white;
}

.hero {
  height: 60vh;
  background: linear-gradient(to right, #162A98, #006AEA);
  color: white;
}

/* CTA */
.cta {
  background-color: #D2D2D2;
}

.cta-inscripcion {
  background: linear-gradient(to right, #162A98, #006AEA);
  color: white;
}

.cta-inscripcion p {
  max-width: 700px;
  margin: auto;
}

.cta-inscripcion button {
  font-weight: bold;
}

