   <!-- SIDEBAR -->
        <aside class="sidebar p-3">

            <h6>Eventos</h6>
            <ul class="list-unstyled">
                <li><a href="#" id="menu-crear">Crear Evento</a></li>
                <li><a href="#" id="menu-publicados">Eventos Publicados</a></li>
                <li><a href="#" id="menu-borrador">Eventos en Borrador</a></li>
                <li><a href="#" id="menu-finalizados">Eventos Finalizados</a></li>
            </ul>

            <h6 class="mt-4">Usuarios</h6>
            <ul class="list-unstyled">
                <li><a href="#" id="menu-difusion">Crear lista de difusión</a></li>
                <li><a href="#" id="menu-listas">Listas de difusión</a></li>
                <li><a href="#" id="menu-suscriptores">Suscriptores</a></li>
                <li><a href="#" id="menu-consultas">Consultas</a></li>
            </ul>

        </aside>