<div>

    <h4 class="mb-3">Eventos</h4>

    <!-- TABS -->
    <div class="d-flex gap-2 mb-4">
        <button class="btn btn-outline-primary active" id="tab-pendientes">
            Pendientes de aprobación
        </button>

        <button class="btn btn-outline-danger" id="tab-rechazados">
            Rechazados
        </button>
    </div>

    <!-- BUSCADOR -->
    <div class="mb-4">
        <div class="d-flex gap-2">
            <select class="form-select w-auto">
                <option>Título del Evento</option>
            </select>

            <input type="text" class="form-control" placeholder="Ingrese el dato indicado">

            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>


    <!--LISTA-->
  <div id="lista-eventos-editor"></div>

</div>