<div class="footer-top py-5">
    <div class="container text-center">

        <div class="row justify-content-center align-items-center g-4">
               
            <div class="col-md-2">
                <a href="https://www.mideplan.go.cr/" target="_blank" rel="noopener noreferrer">  <!--se agrega rel para seguridad segun investigacion hecha.-->
                <img src="img/Logo_Mideplan-01.png" class="footer-logo">
                </a>
            </div>

            <div class="col-md-2">
                <a href="https://inec.cr/" target="_blank" rel="noopener noreferrer">
                <img src="img/inec-logo.png" class="footer-logo">
                </a>
            </div>

            <div class="col-md-2">
                <a href="https://conapdis.go.cr/" target="_blank" rel="noopener noreferrer">
                <img src="img/conapdis-logo.png" class="footer-logo">
                </a>
            </div>

            <div class="col-md-2">
                <a href="https://www.imas.go.cr/" target="_blank" rel="noopener noreferrer">
                <img src="img/imas-logo.png" class="footer-logo">
                </a>
            </div>

            <div class="col-md-2">
                <a href="https://www.rree.go.cr/" target="_blank" rel="noopener noreferrer">
                <img src="img/minis-logo.png" class="footer-logo">
                </a>
            </div>

        </div>

    </div>
</div>

<div class="footer-bottom py-2">
    <div class="container text-center">

        <small>
            Marco Legal | Términos de accesibilidad | Créditos | Directorio de ONG’s | Contacto
        </small>

    </div>
</div>