<div>

    <!-- TÍTULO -->
    <h4 class="mb-3">Seleccionar Evento</h4>

    <!-- BUSCADOR -->
    <div class="mb-4">
        <div class="d-flex gap-2">
            <select class="form-select w-auto">
                <option>Nombre del Usuario</option>
            </select>

            <input type="text" class="form-control" placeholder="Ingrese el dato indicado">

            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <!-- GRID DE EVENTOS Cambios recientes-->
    <div class="row g-3" id="lista-eventos"> 
       

    </div>

</div>