<div>

    <!-- TÍTULO -->
    <h4 class="mb-3">Seleccionar Evento</h4>

    <!-- BUSCADOR -->
    <div class="mb-4">
        <div class="d-flex gap-2">
            <select class="form-select w-auto">
                <option>Nombre del Usuario</option>
            </select>

            <input type="text" class="form-control" placeholder="Ingrese el dato indicado">

            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <!-- GRID DE EVENTOS -->
    <div class="row g-3">

        <div id="lista-inscritos" class="mt-4"></div>

        <!-- CARD EVENTO -->
        <div class="col-md-6">
            <div class="border rounded p-3 d-flex justify-content-between align-items-center">

                <div>
                    <strong>Publicación de Política Nacional de Discapacidad 2020 - 2030</strong><br>
                    <small>Fecha del Evento: --</small><br>
                    <small>Organizador: --</small>
                </div>

                <button class="btn btn-primary ver-inscritos">
                    <i class="bi bi-arrow-right"></i>
                </button>

            </div>
        </div>

    </div>

</div>