<div class="modal fade" id="modalDetalleEvento">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-4">

            <h4 id="detalle-nombre"></h4>

            <hr>

            <p><strong>Fecha:</strong> <span id="detalle-fecha"></span></p>
            <p><strong>Hora:</strong> <span id="detalle-hora"></span></p>
            <p><strong>Descripción:</strong> <span id="detalle-descripcion"></span></p>
            <p><strong>Objetivos:</strong> <span id="detalle-objetivos"></span></p>
            <p><strong>Agenda:</strong> <span id="detalle-agenda"></span></p>
            <p><strong>Público:</strong> <span id="detalle-publico"></span></p>
            <p><strong>Información adicional:</strong> <span id="detalle-info"></span></p>

        </div>
    </div>
</div>