<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="#">SICID</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Formación</a></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#">
                    Noticias y Eventos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Noticias</a></li>
                    <li><a class="dropdown-item" href="eventos.html">Eventos</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>